.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Vazirmatn Variable Font Classes */
.vazirmatn-thin {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.vazirmatn-light {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.vazirmatn-regular {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vazirmatn-medium {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.vazirmatn-bold {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.vazirmatn-black {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body:lang(fa) {
  font-family: "Vazirmatn", Tahoma, sans-serif;
}

body:lang(en) {
  font-family: "Ubuntu", sans-serif;
}
