@import "tailwindcss";

@theme {
  --color-primary: #d24670;
  --color-background: #f7f7f7;
  --color-background-secondary: #ffffff;
  --color-text: #191c1f;
  --color-text-secondary: #75808a;
}

.dark {
  --color-primary: #d24670;
  --color-background: #121212;
  --color-background-secondary: #1e1e1e;
  --color-text: #f1f1f1;
  --color-text-secondary: #a0a0a0;
}
