.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox .checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox .checkbox-control {
  position: relative;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border: 1px solid var(--color-gray-500);
  border-radius: 6px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox .checkbox-control::before,
.checkbox .checkbox-control::after {
  content: "";
  position: absolute;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
  will-change: transform, opacity;
}

.checkbox .checkbox-control::before {
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 219, 15, 0.3);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.checkbox .checkbox-control::after {
  left: 50%;
  top: 45%;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
}

.checkbox .checkbox-input:checked ~ .checkbox-control {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.checkbox .checkbox-input:checked ~ .checkbox-control::before {
  animation: ripple 240ms linear;
}

.checkbox .checkbox-input:checked ~ .checkbox-control::after {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  opacity: 1;
}

.checkbox .checkbox-label {
  font-size: 1rem;
  user-select: none;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0.35);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}
